html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  overflow: hidden;
}

*, *::before, *::after {
  font-family: sans-serif;
  box-sizing: border-box;
}